<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draft</title>
</head>
<body>
{#    Implement drafting logic, only can do if a draft hasn't been done before  #}
<h1>Welcome to the draft page!</h1>

<div>
    <strong>Press the button to start the draft:</strong>
    <button type="button">Start Draft!</button>
</div>

<h2>Reset League</h2>
<div>
    <strong>WARNING: RESETTING WILL DELETE THE CURRENT LEAGUE!</strong>
    <button type="button">Reset</button>
</div>

</body>
</html>