<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draft</title>
</head>
<body>

{% include "header.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{#    Implement drafting logic, only can do if a draft hasn't been done before  #}
<h1>Welcome to the draft page!</h1>

{% if is_active == 0 %}
    <h2>Please have all users present for this action.</h2>
    {% block content1 %}
        <form action="" method="post" novalidate>
            {{ start.hidden_tag() }}
            <strong>Press the button to start the draft:</strong>
            <p>{{ start.submit() }}</p>
        </form>
    {% endblock %}

{% endif %}

{% if is_active == 1 %}

{% block content2 %}
    <h2>Draft Player</h2>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
<!--     <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.player_id.label }}
            {{ form.player_id() }}
        </p>
        <p>
            {{ form.user_id.label }}
            {{ form.user_id() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form> -->
{% endblock %}


<h2>Currently Drafted</h2>

    <table class="table">
      <thead>
        <tr>
            <th>Username</th>
            {% for x in range(max) %}
                <th>Player {{ x + 1 }}</th>
            {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for user in draftees %}
        <tr>
            <td><b>{{ user }}</b></td>
            {%  for player in draftees[user] %}
                <td>{{ player }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endif %}



</body>
</html>
