<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% include "header.html" %}
<img src="https://i.imgur.com/606befu.jpg" width="300" height="150">

<h1>Users will take turns drafting players for their teams:</h1>
<h2>It is currently Eddie's turn.</h2>

<select>
  <option value="Jonathan Nethercutt">Jonathan Nethercutt</option>
  <option value="Josh Smith">Josh Smith</option>
  <option value="Goose Helton">Goose Helton</option>
</select>

<button type="button">Choose</button>

{# include current picks in a table? #}

</body>
</html>
