<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draft</title>
</head>
<body>

{% include "header.html" %}
{#    Implement drafting logic, only can do if a draft hasn't been done before  #}
<h1>Welcome to the draft page!</h1>

{% if is_active == 0 %}
    <h2>Please have all users present for this action.</h2>
    {% block content1 %}
        <form action="" method="post" novalidate>
            {{ start.hidden_tag() }}
            <strong>Press the button to start the draft:</strong>
            <p>{{ start.submit() }}</p>
        </form>
    {% endblock %}

{% endif %}

{% if is_active == 1 %}
<h1>Draft Player</h1>

{% block content2 %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.player_id.label }}
            {{ form.player_id() }}
        </p>
        <p>
            {{ form.user_id.label }}
            {{ form.user_id() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}


<h2>Currently Drafted</h2>

    <table border="1">
        <tr>
            <th>Username</th>
            {% for x in range(10) %}
                <th>Player {{ x + 1 }}</th>
            {% endfor %}
        </tr>
        {% for user in draftees %}
        <tr>
            <td><b>{{ user }}</b></td>
            {%  for player in draftees[user] %}
                <td>{{ player }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <hr>

    <h2>Reset League</h2>
    <div>
        <strong>WARNING: THIS WILL RESET THE CURRENT LEAGUE!</strong>
        {% block content3 %}
        <form action="" method="post" novalidate>
            {{ start.hidden_tag() }}
            <p>{{ reset.submit() }}</p>
        </form>
        {% endblock %}
    </div>
    <div>
        <strong>WARNING: THIS WILL RESET THE CURRENT LEAGUE AND USERS!</strong>
        <button type="button">Reset Season and Users</button>
    </div>


{% endif %}



</body>
</html>