<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/main.css" media="screen" /> -->
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" media="screen" />
</head>
<body>
{% include "header.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


<h1>Welcome to Fantasy Frisbee!</h1>

<hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
{# only allow creation of account if a draft has not started #}


{% if is_active == 1 %}

    <h1>Currently, it is week: {{ week_number }}</h1>
    {% if week_number < 16 %}
        <h2>Iterate to Next Week</h2>
        {% block content2 %}
            <form action="{{ url_for('iterate_week') }}" method="post" novalidate>
                {{ iterate.hidden_tag() }}
                <p>{{ iterate.submit() }}</p>
            </form>
        {% endblock %}

        <hr>
    {% endif %}

    {% if week_number >= 16 %}
        <h1>Season ended! Thanks for playing!</h1>
    {% endif %}

    <h2>Reset League</h2>
    <div>
        <div class="alert alert-danger">
          <strong>Warning!</strong> This will reset the current league!
        </div>
        {% block content3 %}

          <form action="{{ url_for('reset_draft') }}" method="post" novalidate>
            {{ reset.hidden_tag() }}
            {{ reset.submit() }}
<!--               <button type="submit" class="btn btn-primary" onClick=" reset.submit()">
                Reset Season
              </button> -->
          </form>
        {% endblock %}
    </div>
    <div>
        <div class="alert alert-danger">
          <strong>Warning!</strong> This will reset the current league and users!
        </div>
        {% block content4 %}
        <form action="{{ url_for('reset_all') }}" method="post" novalidate>
            {{ reset_all.hidden_tag() }}
            <p>{{ reset_all.submit() }}</p>
        </form>
        {% endblock %}

    </div>

{% endif %}


</body>
</html>
