<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
{% include "header.html" %}
<img src="https://i.imgur.com/606befu.jpg" width="300" height="150">
{% import 'bootstrap/wtf.html' as wtf %}

<h1>User Login</h1>

    {% block content %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <p>New User? <a href="/register">Click to Register!</a></p>

<!--     <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endblock %}

    <p>New User? <a href="/register">Click to Register!</a></p> -->
</body>
</html>
