<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Standings</title>
</head>
<body>

{% include "header.html" %}


{% if week == 16 %}
    <h2>Final Standings</h2>
    {% else %}
    <h2>Current Standings</h2>
{% endif %}


    <table border="1">

        <tr>
            <th>Username</th>
            <th>Overall Score</th>
        </tr>

        {% for x in standings %}

        <tr>
            {% for i in x %}
                <td>{{ i }}</td>
            {% endfor %}
        </tr>

        {% endfor %}
    </table>

</body>
</html>