<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Standings</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/standings.css" media="screen" /> -->
</head>
<body>

{% include "header.html" %}


{% if week == 16 %}
    <h2>Final Standings</h2>
    {% else %}
    <h2>Current Standings</h2>
{% endif %}


    <table class="table" style="width: 400px;">
      <thead>
        <tr>
            <th>Username</th>
            <th>Overall Score</th>
        </tr>
      </thead>
      </tbody>
        {% for x in standings %}

        <tr>
            {% for i in x %}
                <td>{{ i }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

</body>
</html>
