<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

{% include "header.html" %}
<img src="https://i.imgur.com/606befu.jpg" width="300" height="150">
    <h1>{{ current_user.username }}'s Roster</h1>

<h1>{{ error }}</h1>

<form action="" method=post>
    <table border="1">
        <tr>
            <th>Player</th>
            <th>Set Active</th>
        </tr>
        {% for player in player_list %}
            <tr>
                <td>{{ player[1] }}</td>
                <td><input type=checkbox name=active value="{{ player[0] }}"
                    {% if player[2] == 1 %}
                        checked
                    {% endif %}
                ></td>
            </tr>
        {% endfor %}
    </table>
    With selected:
    <input type=submit value=activate>
</form>

</body>
</html>
