<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Standings</title>
</head>
<body>

{% include "header.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<h2>Choose Week</h2>

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
<!--     <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.choose_week.label }}
            {{ form.choose_week() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form> -->
{% endblock %}



<h2>Week {{ week }}, Team Scores</h2>
    <table class="table" style="width: 40%">
        <thead>
        <tr>
            <th>Username</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        {% for x in team_rows %}
            <tr>
            {% for i in x %}
                <td>{{ i }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>

    </table>


<h2>Week {{ week }}, Player Scores</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Goals</th>
            <th>Assists</th>
            <th>Blocks</th>
            <th>Catches</th>
            <th>Completions</th>
            <th>Throwaways</th>
            <th>Drops</th>
            <th>Callahans</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>

        {% for x in rows %}
            <tr>
            {% for i in x %}
                <td>{{ i }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>
